@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #0ea5e9;
  --background-end-rgb: #082f49;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ffffff;
    --background-start-rgb: #0c4a6e;
    --background-end-rgb: #082f49;
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
  )
  var(--background-start-rgb)
}

.debug {
  @apply border-2 border-amber-50;
}