@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #0ea5e9;
  --background-end-rgb: #082f49;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ffffff;
    --background-start-rgb: #0c4a6e;
    --background-end-rgb: #082f49;
  }
}

body {
  color: var(--foreground-rgb);
  background-image: linear-gradient(
      to left bottom,
      transparent,
      var(--background-start-rgb),
      var(--background-end-rgb),
      var(--background-end-rgb)
  );
  background-color: var(--background-end-rgb);
  background-repeat: no-repeat; 
}
*/

body {
  @apply bg-sky-950;
  color: white
}

.debug {
  @apply border-2 border-amber-50;
}

#Navbar > ul > li {
  @apply flex hover:bg-slate-50/10 h-full items-center rounded-full px-4;
}